body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #7678ed !important;

}
#follower_info {
  width: 500px;
  background-color: #fff;
  border: 7px solid #ff7575;
  text-align: center;
  padding: 1%;
  margin-left: 31%;
}
h1{
  color: #f7b801 !important;
}
.title{
  width: 500px;
  margin-left: 31% !important;
  color: #f7b801;
  font-size: 1.55em;
}
