body{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff !important;
  background: #FF512F;
  background: -webkit-linear-gradient(to left, #FF512F, #DD2476);
  background: linear-gradient(to left, #FF512F, #DD2476);
}
#follower_info {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1%;
  margin-left: 31%;
}
.title{
  width: 500px;
  margin-left: 31% !important;
  font-size: 1.55em;
}
